#!/bin/bash

set -eufo pipefail

{{ if .personal -}}

{{ $brews := list 
    -}}
{{ $casks := list
    "discord"
    "parsec"
    "steam" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}