#!/bin/sh

set -eu

{{ if not .nopackages -}}

brew bundle --file=/dev/stdin <<EOF
{{ range (.packages.darwin.homebrew.common.brews | default (list) | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.homebrew.common.casks | default (list) | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}
