#!/bin/sh

set -eu

{{ if and (not .nopackages) (get . "work") -}}

brew bundle --file=/dev/stdin <<EOF
{{ range (.packages.darwin.homebrew.work.brews | default (list) | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.homebrew.work.casks | default (list) | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}
