#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "ansible"
    "gh"
    "gnu-tar"
    "iperf3"
    "jq"
    "mtr"
    "neovim"
    "nmap"
    "node"
    "starship"
    "sshpass"
    "telnet"
    "tmux" -}}
{{ $casks := list
    "alfred"
    "appcleaner"
    "cyberduck"
    "docker"
    "dotnet-sdk"
    "firefox"
    "font-jetbrains-mono-nerd-font"
    "font-meslo-lg-nerd-font"
    "iina"
    "obsidian"
    "postman"
    "powershell"
    "stats"
    "visual-studio-code"
    "wezterm" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF