{{ if and (eq .osid "linux-debian") (not .nopackages) -}}

{{ $packages := list
    "curl"
    "git"
    "jq"
    "tealdeer"
    "starship"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }} apt update
{{ $sudo }} apt install {{ $packages | join " " }}
chsh -s $(which zsh)

curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
{{ $sudo }} rm -rf /opt/nvim-linux-x86_64
{{ $sudo }} tar -C /opt -xzf nvim-linux-x86_64.tar.gz

{{ end -}}
