{{ if eq .osid "linux-arch" -}}

{{ $packages := list
    "curl"
    "dolphin"
    "firefox"
    "git"
    "hyprland"
    "jq"
    "kitty"
    "man"
    "neovim"
    "sddm"
    "starship"
    "ttf-font-awesome"
    "ttf-meslo-nerd"
    "ttf-jetbrains-mono-nerd"
    "waybar"
    "wezterm"
    "wofi"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }} pacman -Syy
{{ $sudo }} pacman -Syu
{{ $sudo }} pacman -S --needed {{ $packages | join " " }}

{{ end -}}
