{{ if eq .osid "linux-debian" -}}

{{ $packages := list
    "curl"
    "git"
    "jq"
    "neovim"
    "tealdeer"
    "starship"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }} apt update
{{ $sudo }} apt install {{ $packages | join " " }}
chsh -s $(which zsh)

{{ end -}}
