{{ $packages := list
    "Git.Git"
    "Microsoft.PowerShell"
    "Microsoft.VisualStudioCode"
    "Starship.Starship" -}}

{{- range $packages -}}
powershell  -NoProfile -ExecutionPolicy Bypass -Command "winget install -e --disable-interactivity --silent --accept-source-agreements --accept-package-agreements --id {{ . | quote }}"
{{ end -}}