# Files to ignore on Windows
{{ if eq .chezmoi.os "windows" }}
.config/wezterm
.config/nvim
.config/starship.toml
.zshrc
{{ end }}

# Files to ignore if not on Arch
{{ if ne .osid "linux-arch" }}
.config/hypr
.config/waybar
{{ end }}
