{{ if (and (not .ephemeral) (ne .chezmoi.os "windows")) }}
{{- $xdgDataHome := env "XDG_DATA_HOME" -}}
{{- if eq $xdgDataHome "" -}}
{{-   $xdgDataHome = joinPath .chezmoi.homeDir ".local/share" -}}
{{- end -}}
{{- $homePrefix := printf "%s/" .chezmoi.homeDir -}}
{{- $xdgDataHome = trimPrefix $homePrefix $xdgDataHome -}}
{{- $zshPluginDir := joinPath $xdgDataHome "zsh/plugins" }}

["{{ joinPath $zshPluginDir "zsh-autosuggestions" }}"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-autosuggestions.git"
refreshPeriod = "168h"

["{{ joinPath $zshPluginDir "zsh-completions" }}"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-completions.git"
refreshPeriod = "168h"

["{{ joinPath $zshPluginDir "zsh-syntax-highlighting" }}"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
refreshPeriod = "168h"

[".tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm.git"
refreshPeriod = "168h"

{{ if and (eq .osid "linux-debian") (not .nopackages) -}}
["{{ joinPath $xdgDataHome "nvm" }}"]
type = "git-repo"
url = "https://github.com/nvm-sh/nvm.git"
refreshPeriod = "168h"

{{ $nvimArch := get (dict "amd64" "x86_64" "arm64" "arm64") .chezmoi.arch -}}
{{- if ne $nvimArch "" }}
{{- $nvimAsset := printf "nvim-linux-%s" $nvimArch }}
[".local/opt/nvim"]
type = "archive"
url = "https://github.com/neovim/neovim/releases/latest/download/{{ $nvimAsset }}.tar.gz"
format = "tar.gz"
stripComponents = 1
exact = true
refreshPeriod = "168h"

{{ end -}}
{{ end }}

{{ end }}
