# Files to ignore if not on MacOS
{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

# Files to ignore on Windows
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
{{ else }}
.config/wezterm
.config/nvim
.zshrc
{{ end }}

# Files to ignore if not on Linux
{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

# Files to ignore if not on Arch
{{ if ne .osid "linux-arch" }}
.config/hypr
.config/waybar
{{ end }}