[user]
	name = etherwrangler
	email = 7719442+etherwrangler@users.noreply.github.com
[init]
	defaultBranch = main

{{ if eq .chezmoi.os "windows" }}
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	editor = \"C:\\Users\\dhamm\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
{{ end }}